root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js}]
charset = utf-8


# Indentation override for all JS files
[**.js]
indent_style = space
indent_size = 2

# Indentation override for all Typescript files
[**.ts]
indent_style = space
indent_size = 2

# Indentation override for all JSON files
[**.json]
indent_style = space
indent_size = 2
